CAMAZONES_MAIL_ENABLED=true
CAMAZONES_MAIL_HOST=smtp.gmail.com
CAMAZONES_MAIL_PORT=587
CAMAZONES_MAIL_USERNAME=codex.ess237@gmail.com
CAMAZONES_MAIL_FROM=codex.ess237@gmail.com
CAMAZONES_MAIL_PASSWORD=remplacer_par_mot_de_passe_application
WAMP_DB_USER=root
WAMP_DB_PASSWORD=
